<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>330685849240-q61jvul0i92namp636cpk4cto29s2tkl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.330685849240-q61jvul0i92namp636cpk4cto29s2tkl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>330685849240-lb118urk8lgvqrgl6q7u66v7cvd3hnmb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCfDs3JhjZnnbew_Ch3OXv0x5IqKuYfQxY</string>
	<key>GCM_SENDER_ID</key>
	<string>330685849240</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.uprise.app</string>
	<key>PROJECT_ID</key>
	<string>upriseradiyo-cfd8b</string>
	<key>STORAGE_BUCKET</key>
	<string>upriseradiyo-cfd8b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:330685849240:ios:188230ab61e0d2d9dc3aed</string>
</dict>
</plist>